* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

body {
    background-color: #141414;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 110px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: .5s;
    animation: header-scroll linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
}

@keyframes header-scroll {
    from {
        background-color: transparent;
    }

    to {
        background-color: #000;
    }
}

header a {
    color: gray;
    text-decoration: none;
}

.header-left {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-right svg {
    color: white;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}

.dropdown-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-btn img {
    width: 40px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #232323;
    gap: 20px;
    padding: 20px;
    width: 230px;
    min-height: 300px;
    margin-left: -150px;
    border-radius: 15px;
}

.dropdown-content div svg {
    color: gray;
}

.sair {
    border-top: gray 1px solid;
    padding: 10px;

}

.sair p {
    color: white;
    font-size: 15px;
    margin-top: 15px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content img {
    width: 35px;
    border-radius: 5px;
}

.dropdown-content a div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
}

header figure img {
    width: 76px;
}

nav ul {
    display: flex;
    gap: 32px;
}

nav ul li {
    list-style: none;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.hero {
    background: #141414;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(70, 43, 27, 1) 10%, rgba(20, 20, 20, 1) 100%);
    min-height: 500px;
}

.hero-content {
    max-width: 1700px;
    height: 80%;
    margin: 100px auto;
    position: relative;
    transition: .5s;
}

.hero-content img {
    width: 100%;
    border-radius: 20px;
}

.hero-texts {
    position: absolute;
    bottom: 100px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
}

.hero-texts p {
    font-size: larger;
}

.hero-texts figure img {
    max-width: 100%;
}

.center-section {
    max-width: 1700px;
    margin: 0 auto;
    padding: 50px 0;
}

/* .em-alta {
        
    } */



/* SLIDES */


.media-container {
  position: relative;
}

.media-scroller,
.media-group {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
}

.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  padding: 0 3rem;
  scroll-padding-inline: 3rem;
}

.media-group {
  grid-auto-columns: 1fr;
}

.media-element {
  border-radius: 0.25rem;
  overflow: hidden;
}

.media-element > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.next,
.previous {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
}

.previous {
  left: 0;
  top: 0;
  bottom: 0;
}

.next {
  right: 0;
  top: 0;
  bottom: 0;
}

.media-group:first-child :where(.next, .previous) {
  display: flex;
}

.media-scroller:hover :where(.next, .previous) {
  opacity: 1;
}

:where(.next, .previous):hover {
  background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}

.media-group:target :where(.next, .previous) {
  display: flex;
}

.media-scroller:has(:target:not(:first-child))
  .media-group:first-of-type
  .next {
  display: none;
}




@media (max-width: 1350px) {
    .img-shadow img {
        height: 900px;
        object-fit: cover;
        object-position: 80% center;
        border: #fff 1px solid;
        border-radius: 20px;

        max-width: 1000px;
    }

    .hero-texts {
        top: 500px;
        padding: 20px;
    }

    .hero-content {
        margin: 100px 50px;
    }

    .img-shadow img {
        object-position: 60% center;
    }

    .hero-texts {
        top: 500px;
    }




}





@media (max-width: 1350px) {}




































footer {
    background-color: #141414;
}

.footer-wrapper {
    max-width: 980px;
    margin: 20px auto 0 auto;
    padding: 25px 0;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
}

footer svg {
    width: 36px;
}

footer a {
    color: gray;
    text-decoration: none;

}


.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: white;
}



.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    list-style: none;
}

.footer-links li {
    width: 150px;
}

.footer-links-itens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links svg path {
    fill: #fff;
}